.netrwhist
vim/vim.symlink/plugged/
vim/vim.symlink/autoload/
vim/vim.symlink/cache/
nvim/.config/nvim/plugged/
nvim/.config/nvim/autoload/
nvim/.config/nvim/cache/
npm-debug.log
plug.vim.old
tags
zsh/localrc.symlink
tmux/tmux.symlink/plugins/
config/configstore
.config/configstore
