.netrwhist
vim/vim.symlink/plugged/
vim/vim.symlink/autoload/
config/nvim/plugged/
config/nvim/autoload/
npm-debug.log
plug.vim.old
vim/vim.symlink/cache/
config/nvim/cache/
tags
zsh/localrc.symlink
.config/
tmux/tmux.symlink/plugins/
